<footer class="main-footer">
  <div class="pull-right hidden-xs"><b>Data Mahasiswa |  0.1.1v</b></div><strong>Copyright &copy; 2014-2016 <a href="https://www.danilrafiqi.xyz/">Danil Rafiqi.</a></strong> All rights reserved.
</footer>