<footer class="main-footer">
  <div class="pull-right hidden-xs"><b>SPK-SAW | v 0.18.04</b></div><strong>Copyright &copy; 2018 <a href="https://www.danilrafiqi.xyz/">Danil Rafiqi.</a></strong> All rights reserved.
</footer>