<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Admin Area</li>
      <li class="treeview"><a href="/dashboard"><i class="fa fa-bar-chart "></i> <span>Dashboard</span>            <span class="pull-right-container"></span></a>
      </li>

      <li class="treeview"><a href="#"><i class="fa fa-cogs"></i> <span>Pengaturan</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/kriteria"><i class="fa fa-circle-o"></i>Kriteria</a></li>            
          <li><a href="/nilaikriteria"><i class="fa fa-circle-o"></i>Nilai Tiap Kriteria</a></li>
        </ul>
      </li>


      <li class="treeview"><a href="#"><i class="fa fa-book"></i> <span>Alternatif</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>          
        <ul class="treeview-menu">
          <li><a href="/alternatif"><i class="fa fa-circle-o"></i>Daftar Alternatif</a></li>            
          <li><a href="/nilaialternatif"><i class="fa fa-circle-o"></i>Nilai Tiap Alternatif</a></li>
        </ul>
      </li>

      <li class="treeview"><a href="/perhitungan"><i class="fa fa-copy"></i> <span>Perhitungan</span>            <span class="pull-right-container"></span></a>          
      </li>
    </ul>
  </section>
</aside>