<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Mahasiswa</li>
      <li class="treeview"><a href="/mahasiswa"><i class="fa fa-bar-chart "></i> <span>Dashboard</span>            <span class="pull-right-container"></span></a>
      </li>
    </ul>
  </section>
</aside>