<section class="content-header">
<h1>Nilai Kriteria<small> Add</small></h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>        
    <li class="active">Nilai Kriteria</li>
  </ol>
</section>
<!-- Main content-->
<section class="content">
  <!-- Your Page Content Here-->
  <!-- /.row-->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <!-- /.box-header-->
        <div class="box-body">
            <form class="form-horizontal" action="/nilaikriteria/add/" method="POST">

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Atribut</label>
                <div class="col-sm-7">
                  <select class="form-control" id="" name="idKriteria">
                    {{#each kriteria}}
                    <option value="{{idKriteria}}">{{namaKriteria}}</option>    
                    {{/each}}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="nama" class="col-sm-3 control-label">Keterangan Penilaian</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="keterangan" value="">
                </div>
              </div>

              <div class="form-group">
                <label for="nilai" class="col-sm-3 control-label">Nilai</label>
                <div class="col-sm-7">
                  <input type="number" class="form-control" max="100" name="nilai" value="">
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-10">
                  <input type="submit"  class="btn btn-primary pull-right" >
                </div>
              </div>

            </form>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box-->
    </div>
  </div>
</section>